spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ads
    username: ads
    password: ads

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        '[spring.json.add.type.headers]': false

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: true

  jackson:
    serialization:
      write-dates-as-timestamps: false

simulation:
  count: 1000
  chunk-size: 100
  campaign-count: 10
