services:
  postgresql:
    image: postgres:18
    environment:
      POSTGRES_USER: ads
      POSTGRES_PASSWORD: ads
      POSTGRES_DB: ads
    ports:
      - "5433:5432"

  kafka:
    image: apache/kafka:4.1.1
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
    ports:
      - "9092:9092"

  kafbat-ui:
    image: ghcr.io/kafbat/kafka-ui:2e62ea1
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
    ports:
      - "5080:8080"
    configs:
      - source: dynamic_config.yaml
        target: /etc/kafkaui/dynamic_config.yaml
    depends_on:
      - kafka

configs:
  dynamic_config.yaml:
    content: |
      kafka:
        clusters:
          - name: local
            bootstrap-servers: kafka:9092
